body {
  background-color: $eee;
  padding: 50px;
}

.pagination {
margin: 0px !important;
}

img {
    transition: all 400ms ease-out 50ms;
    width: 100%;
    height: auto;
}

.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '3 .column.column-1-3';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    /*visibility: hidden;*/
}

.deckgrid .column {
    float: left;
    margin: 10px;
}

.deckgrid .column-1-3 {
    width: 30%;
}
.deckgrid .column-1-1 {
    width: 100%;
}

@media screen and (max-width: 480px){
    .deckgrid[deckgrid]::before {
        content: '1 .column.column-1-1';
    }
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.stack {
	margin: 20px auto;
	width: 400px;
	padding: 0;
	position: relative;
	max-width: 100%;
}

.stack img {
	max-width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.3s;
}

.stack img:last-child {
	position: relative;
}

.stack.active img {
	transform: scale(.75);
}

.stack.active img:nth-child(4) {
	transform-origin: 70% 40%;
}

.stack.active img:nth-child(3) {
	transform-origin: 80% 30%;
}

.stack.active img:nth-child(2) {
	transform-origin: 90% 20%;
}

.stack.active img:first-child {
	transform-origin: 100% 10%;
}

img.not-avail {
    -webkit-filter: grayscale(1); /* Webkit */
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* W3C */
}
