{% extends "base.html" %}
{% block content %}
<form action="/find" method="post" name="find" class="form-horizontal">
  <div class="form-group form-group-lg">
    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-arrow-right"></i></div>
      <input type="text" class="form-control" name="comic" placeholder="To search everything just press enter">
    </div>
  </div>
</form>


{% if found %}

{% for x in found %}
  <div class="row">
  {% for id, title, date, link, note, availability, seriesID in x %}
    <div class="col-xs-6 col-md-4">
      <div class="thumbnail">
        <a href="/series?id={{seriesID}}">
        <img src="static/covers/{{id}}.png" class="img-responsive" />
        </a>
          <div class="caption">
            <h4>{{title}}</h4>
            <ul class="list-group">
            {% if availability %}
              <li class="list-group-item list-group-item-success">This comic is available!</li>
            {% else %}
            <li class="list-group-item list-group-item-danger">This comic is not available yet!</li>
            {% endif %}
            <li class="list-group-item list-group-item-info">Release Date: {{date}}</li>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
{% endfor %}
{% endif %}


{% endblock %}
