{% extends "base.html" %}
{% block content %}

{% if found %}
<a href="/series?id={{series_id}}&sub=1" class="btn btn-primary btn-lg btn-block">Subscribe</a>
{% for x in found %}
  <div class="row">
  {% for id, title, date, link, note, availability, seriesID in x %}
    <div class="col-xs-6 col-md-4">
      <div class="thumbnail">
        <a href="/series?id={{seriesID}}">
        <img src="static/covers/{{id}}.png" class="img-responsive" />
        </a>
          <div class="caption">
            <h4>{{title}}</h4>
            <ul class="list-group">
            {% if availability %}
              <li class="list-group-item list-group-item-success">This comic is available!</li>
            {% else %}
            <li class="list-group-item list-group-item-danger">This comic is not available yet!</li>
            {% endif %}
            <li class="list-group-item list-group-item-info">Release Date: {{date}}</li>
            <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
{% endfor %}
{% endif %}


{% endblock %}
