<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">
    <head>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

    </head>
    <body>

        <nav class="navbar-inverse navbar-fixed-top" role=navigation bs-navbar>
            <div class="container" bs-collapse start-collapsed="true">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Comic Book Time</a>

                    <button class="navbar-toggle" type="button" bs-collapse-toggle>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" bs-collapse-target>
                    <ul class="nav navbar-nav">
                        <li data-match-route="/"><a href="/"><i class="fa fa-home fa-1x"></i></a></li>
                        <li data-match-route="/search"><a href="/search"><i class="fa fa-search fa-1x"></i></a></li>
                        <li data-match-route="/my_collection"><a href="/my_collection"><i class="fa fa-book fa-1x"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if login %}
                        <li>
                            <p class="navbar-text">Hi, {{ login }}</p>
                        </li>
                        <li>
                            <a href="/logout">logout</a>
                        </li>
                        {% else %}
                        <li>
                            <form action="{{ url_for('social.login', provider_id='google') }}" method="POST">
                                <button type='submit' class="btn btn-social-icon btn-google navbar-right navbar-btn">            <span class="fa fa-google"></span></button>
                            </form>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        <!-- bower:js -->
        <script src="../static/bower_components/jquery/dist/jquery.js"></script>
        <script src="../static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="../static/bower_components/angularjs/angular.js"></script>
        <script src="../static/bower_components/angular/angular.js"></script>
        <script src="../static/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="../static/bower_components/angular-strap/dist/angular-strap.js"></script>
        <script src="../static/bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
        <script src="../static/bower_components/jquery-bridget/jquery-bridget.js"></script>
        <script src="../static/bower_components/angular-socket-io/socket.js"></script>
        <!-- endbower -->

        <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
        <script src="{{ url_for('static', filename='js/app.js')}}"></script>

    </body>
</html>
