{% extends "base.html" %}
{% block content %}

<form action="/find" method="post" name="find" class="form-horizontal">
  <div class="form-group form-group-lg">
    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-arrow-right"></i></div>
      <input type="text" class="form-control" name="comic" placeholder="Press enter to search everything">
    </div>
  </div>
</form>


{% if found %}

  {% from "macros.html" import print_rows, get_page_nav%}

  {{ print_rows(found,3,3) }}
  {{ get_page_nav(found) }}

{% endif %}

{% endblock %}
