{% extends "base.html" %}

{% block content %}
<div ng-controller="HomeController">

{% if login %}

<script type="text/ng-template" id="card.html">
        <md-card>
            <md-card-title-media>
            <img class="md-card-image" lazy-img="https://s3-us-west-1.amazonaws.com/comicbooktime/covers/{{card.id | angular}}.jpg">
            <div ng-if="card.avail === false">
                <img class="not-avail md-card-image" lazy-img="https://s3-us-west-1.amazonaws.com/comicbooktime/covers/{{card.id | angular}}.jpg">
            </div>
            </md-card-title-media>
            <md-card-title>
                {{card.title | angular}}
            </md-card-title>
        </md-card>
</script>
<div class="center-block">
<div deckgrid class="deckgrid" source="comics" cardTemplate="card.html"></div>
</div>


{% else %}

<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

{% endif %}
</div>
{% endblock %}
