
{% macro print_comic(comic, login=None) %}

<div class="col-xs-6 col-md-4">
  <div class="hovereffect"> 
      <img src="https://s3-us-west-1.amazonaws.com/comicbooktime/covers/{{comic.id}}.jpg" class="{% if not comic.is_avail() %}not-avail{% endif %}  img-responsive">
      <div class="overlay">
      {% if not comic.is_avail() %}
          <h2>{{comic.title}}</h2>
          <a class=info href="/series/{{comic.series_id}}">{{comic.release_date.strftime("%B %d %Y")}}</a>
      
      {% else %}
          <h2>{{comic.title}}</h2>
          <p><a class=info href="/series/{{comic.series_id}}">{{comic.release_date.strftime("%B %d %Y")}}</a></p>
          <p><a href="#" class="buy info" desc={{comic.id}}>
            <i class="fa fa-check fa-2x"></i>
          </a></p>

      {% endif %}
      </div>
  </div> 
</div>
{% endmacro %}

{% macro print_rows(comics, row_length, num_rows, login=None) %}
  {% for row_offset in range(0, num_rows*row_length, row_length) %}
    <div class="row">
    {% for comic in comics.items[row_offset:row_offset+row_length] %}
      {{ print_comic(comic, login) }}
    {% endfor %}
    </div>
  {% endfor %}
{% endmacro %}
f not comic.is_avail()
{% macro print_mobile(comics) %}
<table class="table">
  <thead>
      <tr>
        <th>Cover</th>
        <th>Title</th>
        <th>Release Date</th>
      </tr>
    </thead>
    <tbody>
    {% for comic in comics.items %}
    <tr {% if not comic.is_avail() %}class="success"{%else%} class="danger" {% endif %}>
      <td>
        <img src="https://s3-us-west-1.amazonaws.com/comicbooktime/covers/{{comic.id}}.jpg" class="{% if not comic.is_avail() %}not-avail{% endif %}  img-responsive">
      </td>
      <td>
        {{comic.title}}
      </td>
      <td>
        <a class=info href="/series/{{comic.series_id}}">{{comic.release_date.strftime("%B %d %Y")}}</a>
      </td>
      </tr>
    {% endfor%}
    </tbody>
  </table>
{% endmacro %}

{% macro get_page_nav(pages) %}
  {% if pages.pages > 1 %}
  <nav>
    <ul class="pagination pagination-lg">
      {%if pages.has_prev%}
      <li>
        <a href="{{ url_for(request.url_rule.endpoint, page=pages.prev_num)  }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}

      {% for i in range(pages.next_num-1, pages.next_num + 5) %}
      {% if i <= pages.pages %}
        <li><a href="{{ url_for(request.url_rule.endpoint) }}/{{i}}">{{i}}</a></li>
      {% endif %}
      {% endfor %}

      {%if pages.has_next%}
      <li>
        <a href="{{ url_for(request.url_rule.endpoint, page=pages.next_num) }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>

      {%endif%}
    </ul>
  </nav>
  {% endif %}
{% endmacro %}
