
{% macro print_comic(comic, login=None) %}
<div class="col-comic.-6 col-md-4">
  <div class="thumbnail">
    <a href="/series/{{comic.series_id}}">
    <img src="https://s3-us-west-1.amazonaws.com/comicbooktime/covers/{{comic.id}}.jpg" class="img-responsive" />
    </a>
      <div class="caption">
        <h4>{{comic.title}}</h4>
        <ul class="list-group">
        {% if comic.is_avail() %}
          <li class="list-group-item list-group-item-success">This comic is available!</li>
        {% if login %}
          <a href="#" class="buy list-group-item list-group-item-warning" desc={{comic.id}}>
            <i class="fa fa-check fa-2x"></i>
          </a>
        {% endif %}
        {% else %}
        <li class="list-group-item list-group-item-danger">This comic is not available yet!</li>
        {% endif %}
        <li class="list-group-item list-group-item-info">Release Date: {{comic.release_date.strftime("%B %d %Y")}}</li>
    </div>
  </div>
</div>
{% endmacro %}

{% macro print_rows(comics, row_length, num_rows, login=None) %}
  {% for row_offset in range(0, num_rows*row_length, row_length) %}
    <div class="row">
    {% for comic in comics.items[row_offset:row_offset+row_length] %}
      {{ print_comic(comic, login) }}
    {% endfor %}
    </div>
  {% endfor %}
{% endmacro %}

{% macro get_page_nav(pages) %}
  <nav class="navbar navbar-inverse">
    <ul class="pagination pagination-lg">
      {%if pages.has_prev%}
      <li>
        <a href="{{ url_for(request.url_rule.endpoint, page=pages.prev_num)  }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}

      {% for i in range(pages.next_num-1, pages.next_num + 5) %}
      {% if i <= pages.pages %}
        <li><a href="{{ url_for(request.url_rule.endpoint) }}/{{i}}">{{i}}</a></li>
      {% endif %}
      {% endfor %}

      {%if pages.has_next%}
      <li>
        <a href="{{ url_for(request.url_rule.endpoint, page=pages.next_num) }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>

      {%endif%}
    </ul>
  </nav>
{% endmacro %}
