{% extends "base.html" %}
{% block content %}


{% if subs %}

{% for series in subs%}
<div class="jumbotron">
  <div class="container">
    <h2>{{ series.title }}</h2>
  <div class="row">

    {% for c in series %}
    <div class="col-xs-6 col-md-4">
      <div class="thumbnail">

      <img src="https://s3-us-west-1.amazonaws.com/comicbooktime/covers/{{c.id}}.jpg" class="img-responsive" />
          <div class="caption">
            <h4>{{c.title}}</h4>
            <button type="button" name="myButton{{c.id}}" id="myButton{{c.id}}" desc="{{c.id}}" data-loading-text="Removed from collection" class="btn btn-primary" autocomplete="off">
          <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
    </div>

      {% endfor %}
  </div>

  </div>
</div>
{% endfor %}

{% else %}
<div class="jumbotron">
  <h1>Try it out!<h1>
    <p>Looks like you don't have anything in your collection yet!</p>
</div>

{% endif %}

{% endblock %}
