{% extends "base.html" %}
{% block content %}

<div ng-controller="MyCollection">
    <ol ng-hide="!hideme" class="breadcrumb">
        <li><a ng-click="hideme=!hideme">My Collection</a></li>
        <li class="active">{{key|angular}}</li>
        <li>
            <button ng-click="unsubscribe()" type="button" class="btn btn-primary" ng-model="singleModel">
                Un-Subscribe
            </button>
        </li>
    </ol>

    <script type="text/ng-template" id="card.html">
        <md-card>
            <div ng-if="card.avail === true">
                <img class="md-card-image" lazy-img="https://s3-us-west-1.amazonaws.com/comicbooktime/covers/{{card.id | angular}}.jpg">
            </div>
            <div ng-if="card.avail === false">
                <img class="md-card-image not-avail" lazy-img="https://s3-us-west-1.amazonaws.com/comicbooktime/covers/{{card.id | angular}}.jpg">
            </div>
                <md-card-actions layout="row">
                <div ng-if="card.avail === true">
                <md-button ng-click="mother.unbought(card.id)" class="md-icon-button" aria-label="Bought">
                  <i  class="fa fa-times fa-2x"></i>
                </md-button>
              </md-card-actions>
            </div>
        </md-card>
    </script>

    <div ng-hide="!hideme" deckgrid class="deckgrid" source="selected" cardTemplate="card.html"></div>

    <div ng-hide="hideme" class="row">
        <div class="col-xs-6 col-md-4" ng-repeat="(key, data) in series">
          <figure ng-click="select(key,data);" class="stack stack-sidegrid active">
              <img ng-repeat="card in data" lazy-img="https://s3-us-west-1.amazonaws.com/comicbooktime/covers/{{card.id | angular}}.jpg">
          </figure>
          </a>
        </div>
    </div>

</div>
{% endblock %}
